@charset "UTF-8";
@import "variables";

.article-card {
    display: block;
    margin-top: $space_4;
    padding: $space_1;
    position: relative;

    img {
        width: 100%;
    }

    strong {
        color: $black;
        display: block;
        text-transform: uppercase;
        letter-spacing: 1pt;
        line-height: 1;
    }

    em {
        display: block;
        text-align: right;
        color: $grey;
    }
}

.blogpost, .custompage {
    h1 {
        margin: $space_5 0;
    }
}

.brand-tile {
    display: block;
    text-align: center;
    padding: $space_2;

    img {
        width: 100%;
    }

    span {
        color: $black;
    }
}