@charset "UTF-8";
@import "variables";

.contact-title {
    text-align: center;
    padding: 3rem 0 0 0;

    h1 {
        font-size: 18pt;
        font-weight: 900;
    }

    p {
        margin: 0;
        font-size: 9pt;
        color: $grey;
    }
}

.contact {
    width: 100%;
    background: $white;
    margin: 3rem 0;
    @include border-radius($space_1);
    overflow: hidden;

    h2 {
        font-weight: 100;
        margin-bottom: $space_2;
    }

    a {
        color: $white;
        text-decoration: none;
    }

    .login-form {
        padding: 0;
        @include box-shadow(0,0);
        border: 0;
        width: 100%;
        margin: 0 $space_5;
    }

    .sub-title {
        width: 100%;
        text-align: center;
        padding: $space_5;

        h2 {
            margin: 0;
            font-weight: 600;
            font-size: 15pt;
            line-height: 1;
            color: $black;
        }

        small {
            color: $grey;
            font-size: 8pt;
            line-height: 10pt;
            display: block;
            margin-top: $space_2;
        }
    }

    .cd {
        padding: $space_5;

        &.red {
            background: $purple-dark;
        }
    }

    .contact-details {
        padding: 0 $space_4;
        color: $dark-grey;

        .detail {
            margin: $space_4 0;

            &.idetail {
                line-height: 26pt;

                .icon {
                    margin-right: $space_2;
                    font-size: 14pt;
                    margin-top: -2px;
                    color: $red;
                }
            }
        }

        strong {
            font-size: 75%;
            display: block;
            color: $dark-grey;
        }

        &.inverted {
            color: $white;

            h2 {
                color: $white;
            }
        }
    }
}