@charset 'UTF-8';

@import "variables";

.login-form, .profile-content form {
  width: 400px;
  max-width: 90%;
  margin: 3rem auto;
  background: $white;
  padding: $space_5;
  border: solid 1px $washed-white;
  @include border-radius($space_1);
  @include box-shadow(0, 0, 15px, -15px, $black);

  .header{
    @include display_flex();
    flex-flow: row nowrap;

    &.secondary-header {
      display: block;

      p {
        margin: 0 0 1rem 0;
        font-size: 90%;
      }
    }

    h3 {
      font-size: 16pt;
    }

    .header-action {
      margin-left: auto;
      @include display_flex();
      flex-flow: column nowrap;

      a {
        display: block;
        margin: auto 0;
        background: $purple;
        color: $white;
        @include border-radius($space_1);
        padding: $space_1 $space_2;
      }
    }
  }

  form {
    padding: $space_5 0;
    display: block;
  }

  fieldset {
    border: none;
    padding: 0;
    margin: 0;

    .form-field {
      margin-bottom: $space_4;

      input, select, textarea, .form-input {
        width: 100%;
        border: 1px solid $washed-white;
        padding: $space_2;
        line-height: 1.5;
        @include border-radius($space_1);
      }
    }

    .form-controls {
      @include display_flex();
      flex-flow: row nowrap;
      flex-direction: row-reverse;

      .btn-submit {
        background: $red;
        @include border-radius($space_1);
        padding: $space_2 $space_3;
        color: $white;
        font-weight: 800;
        font-size: 12pt;
        text-transform: uppercase;
        letter-spacing: 1pt;
      }

      a {
        display: block;
        margin-right: auto;
        color: $grey;
        line-height: 3;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}