.page-not-found {
  text-align: center;
  padding: $space_5;
  margin: auto;

  h1 {
    color: $red;
  }

  h2 {
    color: $black;
  }

  p {
    color: $light-grey;
    margin-bottom: $space_5;
    padding-bottom: $space_4;
  }

  a {
    background: $purple-dark;
    padding: $space_2 $space_4;
    color: $white;

    &:hover {
      background: $purple-medium;
    }
  }
}