#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -999;
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(5px);
  transition: ease 0.2s;

  &.open {
    opacity: 1;
    z-index: 100;

    .content {
      left: 0;
    }
  }

  &.sub-open .top-level {
    display: none !important;
  }

  .content {
    position: absolute;
    height: 100%;
    @include display_flex();
    @include flex-flow(column nowrap);
    min-width: 225px;
    max-width: 350px;
    width: 50%;
    left: -100%;
    background: $white;
    transition: ease 0.4s;
    @include box-shadow(0, 0, 30px, -15px, $dark-grey);
  }

  .close-btn {
    position: absolute;
    left: 100%;
    margin-left: $space_4;
    font-size: 20pt;
    color: $white;
    font-weight: 100;
    cursor: pointer;
  }

  .sign-in-btn {
    padding: $space_4;
    background: $red;
    color: $white;
    @include opacity();
  }

  h3 {
    font-size: 10pt;
    font-weight: 900;
    margin: 0;
    padding: $space_3 $space_5 $space_2;
    letter-spacing: 2pt;
    text-transform: uppercase;
    color: $black;
    border-bottom: solid 1px $washed-white;
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;

    li {
      a {
        padding: $space_3 $space_5;
        color: $text-color;

        span {
          display: block;
          flex-basis: 100%;
          flex-shrink: 1;
        }

        i {
          display: block;
          margin: auto 0 auto auto;
          font-size: 14pt;
          line-height: 16pt;
          color: $grey;
        }

        &:hover {
          background: $washed-white;

          i {
            color: $dark-grey;
          }
        }
      }
    }
  }

  .category-list {
    border-bottom: solid 1px $washed-white;
    padding-bottom: $space_4;
    flex-shrink: 1;
    flex-basis: 100%;
    overflow-y: hidden;

    ul {
      overflow-y: scroll;
      max-height: calc(100% - 40px);
    }

    &.brand-list {
      @media (max-height: 450px){
        display: none;
      }
    }

    &.sub-category {
      position: absolute;
      width: 100%;
      top: 3.5rem;
      left: -100%;
      transition: none;
      border-bottom: 0;
      height: calc(100% - 60px);

      &.show {
        left: 0;
        transition: ease .3s;
      }
    }

    .sub-back-btn {
      border-bottom: solid 1px $lighter-grey;
      padding: $space_3 $space_4;
      color: $dark-grey;
      font-weight: 600;
      @include opacity();

      &:hover {
        background: $washed-white;
      }

      i {
        line-height: 0.5;
        margin: auto $space_2 auto 0;
      }
    }
  }

  .profile-actions {
    margin-top: auto;

    ul {
      min-height: 0;
    }

    @media (max-width: $screen_large) {
      h3 {
        display: none;
      }
    }
  }
}