@charset 'UTF-8';

@import "variables";
@import "utilities";

body {
  font-family: 'Roboto', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  margin: 0;
  padding: 0;
  color: $text-color;
  font-size: 11pt;
  line-height: 1.5;
  box-sizing:border-box;
  background: $white;
}

@media (hover: hover) {
  button, input[type="submit"] {
    cursor: pointer;
  }
}

.alert {
  padding: $space_2 $space_4;
  @include border-radius($space_1);
  border: solid 1px $washed-white;

  &.alert-danger {
    background: $red;
    color: $white;
    border-color: $dark-red;
  }

  &.alert-success {
    background: $green;
    color: $white;
    border-color: $dark-green;
  }
}

.top-header {
  align-items: stretch;
  padding: $space_3 $space_4;

  .logo {
    width: 50px;
    display: none;
    margin: auto;

    img {
      width: 100%;
    }
    
    @media (min-width: $screen_xs) {
      display: block;
    }
  }

  #search-form {
    margin: auto $space_4;
    @include display_flex();
    position: relative;
    width: 100%;
    min-width: 75px;

    select {
      padding: $space_3 $space_4;

      @media (max-width:$screen_large) {
        display: none;
      }
    }

    input {
      padding: $space_3 $space_4;
      width: 100%;
      min-width: 75px;
    }

    button {
      @media (max-width:$screen_medium) {
        display: none;
      }
    }
  }

  .right-buttons {
    @include display_flex();
    margin: auto 0 auto auto;

    a {
      padding: 0 $space_2;
      line-height: 1.2;
      margin: auto 0;
      position: relative;

      &.header-cart-btn {
        display: block;
      }

      &:last-child {
        margin-right: $space_3;
      }

      small {
        display: block;
      }

      .icon-shopping-bag {
        font-size: 32pt;
      }

      .cart-indicator {
        position: absolute;
        left: 28pt;
        top: 0.25rem;
        padding: 0.25rem;
        @include border_radius(50%);
        width: 1.5rem;
        height: 1.5rem;
        text-align: center;
        line-height: 0.9rem;
        font-weight: 600;
        font-size: 8pt;
      }
    }

    @media (max-width:$screen_large) {
      a {
        display: none;
      }

      width: 60px;
    }
  }

  #suggestion-box {
    position: absolute;
    top: 100%;
    width: 100%;
    max-height: 350px;
    overflow: hidden;

    a {
      display: block;
      width: 100%;
      padding: $space_2;

      &:hover, &:focus{
        background: $washed-white;
      }
    }
  }
}

.sub-header {
  align-content: space-between;
  padding: 0 $space_4;

  .category-list {
    flex-basis: 100%;
    flex-shrink: 1;
    overflow-x: scroll;
  }

  a {
    padding: $space_3 $space_2;
    font-size: 90%;
    margin: auto 0;
  }
}

.search-results {
  .product-card {
    @include display_flex();
    flex-flow: row nowrap;
    margin-top: $space_3;
    border: solid 1px $washed-white;
    @include border_radius($space_1);
    overflow: hidden;
  }

  .image {
    position: relative;
    display: block;
    height: auto;
    width: 260px;
    flex-basis: 260px;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
    
    @media (max-width: $screen_medium) {
      width: 154px;
      flex-basis: 154px;
    }

    @media (max-width: $screen_small) {
      width: 115px;
      flex-basis: 115px;
    }
  }

  .details {
    padding: $space_4;
    color: $text-color;
    display: block;
    flex: 1 1 0;
    min-width: 0;

    .title {
      font-weight: 600;
      display: block;
      font-size: 130%;
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box !important;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      white-space: normal;
      
      @media (max-width: $screen_small) {
        font-size: 100%;
      }
    }

    .summary {
      line-height: 1.1rem;
      display: block;
      
      @media (max-width: $screen_medium) {
        display: none;
      }
    }

    .rating {
      margin: $space_2 0 $space_4 0;
      
      @media (max-width: $screen_small) {
        span {
          display: none;
        }
      }
    }

    .price {
      font-size: 140%;
      display: block;
      
      @media (max-width: $screen_small) {
        font-size: 110%;
      }

      del {
        font-size: 70%;
        display: block;
        margin: 0 0 -0.5rem 0;
      }

      .pulse {
        display: block;
        margin-bottom: -$space_1;
        font-size: 55%;
      }
    }
  }
}

.tooltip-hover {
  position: relative;

  .tooltip-text {
    position: absolute;
    top: 100%;
    background: $white;
    color: $text-color;
    font-weight: 300;
    padding: $space_2;
    line-height: 1.2;
    font-size: 9pt;
    z-index: 999;
    text-transform: none;
    @include border_radius($space_2);
    @include box-shadow(0, 0, 1.5rem, -1rem, $dark-grey);
  }
}

.login-form {

  .alert {
    margin-bottom: $space_4;
  }

  .form-field {
    small {
      color: $grey;
    }
  }

  .additional-controls {
    .btn {
      display: block;
      padding: $space_2;
      margin-top: $space_3;
      @include border-radius($space_1);
      text-align: center;
      text-transform: uppercase;
      font-weight: 800;
      letter-spacing: 0.5pt;
      color: #fff;
      @include opacity();

      &.btn-facebook {
        background: #4267B2;
      }

      &.btn-google {
        background: #DB4437;
      }
    }
  }
}

.tabbed-content {
  display: none;

  &.show {
    display: block;
  }
}